.buy {
  max-width: 847px;
  margin: 0 auto;

  h3 {
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: $primary1;
    margin: 56px auto 33px;
    max-width: 800px;
    text-align: center;

    span {
      text-transform: uppercase;
    }
  }

  .buy_list_mob {
    display: none;

    li {
      display: inline-block;
      font-family: "Century Gothic";
      font-size: 16px;
      line-height: 120%;
      color: $primary2;
      position: relative;

      &:first-child {
        margin-top: 15px;
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 1px;
          height: 40px;
          background: #00ABBD;
          top: -25px;
          right: -11px;
        }
      }

      &:last-child {
        margin-top: 53px;
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 1px;
          height: 78px;
          background: #00ABBD;
          top:-63px;
          left: -11px;
        }
      }
    }
  }

  .buy_wrap {
    display: flex;

    .buy_img {

    }

    .buy_info {
      margin-left: 10%;
      margin-right: 3%;
      padding-top: 20px;

      .buy_text {
        font-family: "Century Gothic";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: $primary2;
        margin-top: 85px;
        margin-bottom: 90px;
        max-width: 330px;

        a {
          color: $primary2;
        }
      }

      .buy_list {
        li {
          display: inline-block;
          font-family: "Century Gothic";
          font-size: 24px;
          line-height: 120%;
          color: $primary2;
          position: relative;

          &:not(:last-child) {
            margin-bottom: 21px;
          }

          &:first-child {
            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 285px;
              height: 1px;
              background: #00ABBD;
              left: 100%;
            }
          }

          &:last-child {
            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 161px;
              height: 1px;
              background: #00ABBD;
              left: 100%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .buy {
    max-width: 768px;
    margin: 0 auto;

    h3 {
      font-size: 28px;
      margin: 81px auto 40px;

      span {
        text-transform: uppercase;
      }
    }

    .buy_wrap {
      display: flex;

      .buy_img {
        margin-right: 10%;

        img {
          max-width: 307px;
        }
      }

      .buy_info {
        margin-left: 5%;
        margin-right: 3%;
        padding: 0;

        .buy_text {
          font-size: 20px;
          margin-top: 79px;
          margin-bottom: 45px;
          max-width: 330px;

          a {
            color: $primary2;
          }
        }

        .buy_list {
          li {
            font-size: 20px;

            &:not(:last-child) {
              margin-bottom: 6px;
            }

            &:first-child {
              &:after {
                width: 258px;
              }
            }

            &:last-child {
              &:after {
                width: 152px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .buy {
    max-width: 300px;

    h3 {
      font-size: 20px;
      margin: 0px auto 22px;
    }

    .buy_list_mob {
      display: flex;
      justify-content: space-between;
      li{
        width: 125px;
        &:first-child{
          text-align: right;
        }
        &:last-child{
          text-align: left;
        }
      }
    }

    .buy_wrap {
      flex-direction: column;

      .buy_img {
        margin: 0 auto;

        img {
          max-width: 300px;
        }
      }

      .buy_info {
        margin: 0 10px;
        padding: 0;

        .buy_text {
          font-size: 20px;
          margin-top: 0px;
          margin-bottom: 30px;
          max-width: 280px;

          a {
            color: $primary2;
          }
        }

        .buy_list {
          display: none;
        }
      }
    }
  }
}