.brands {
  background: $primary2;
  padding: 52px 0;
  .brands_list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item{
      img{
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1279px) {
  .brands {
    .brands_list{
      .item{
        &:not(:last-child){
          margin-right: 20px;
        }
      }
    }
  }
}