.footer {
  background: linear-gradient(180deg, #FFFFFF 0%, #E9FFFE 100%);

  .footer_wrapper {
    .footer_content {
      height: 407px;
      position: relative;
      overflow: auto;
    }

    .footer_sale_btn {
      margin: 65px auto 0;
    }

    .img_block {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .footer {

    .footer_wrapper {
      .footer_content {
        height: 280px;
      }

      .footer_sale_btn {
        margin: 28px auto 0;
      }

      .img_block {
        img {
         // max-width: 251px;
         max-width: 175px;
        }
      }
    }
  }
}