.how {
  background: $primary3;
  padding-top: 30px;
  padding-bottom: 54px;

  .how_title {
    font-family: $font-main-bold;
    font-size: 47px;
    line-height: 110%;
    text-align: center;
    color: $textColor2;
    margin-bottom: 63px;
  }

  .how_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    .item {
      .item_img {
        margin-bottom: 30px;
        img{
          max-width: 100%;
        }
      }

      .item_text {
        font-family: $font-main;
        font-size: 20px;
        line-height: 120%;
        max-width: 232px;
        text-align: center;
        color: $textColor;
        span{
          font-weight: 800;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .how {
    padding-top: 23px;
    padding-bottom: 56px;

    .how_title {
      font-size: 30px;
      max-width: 288px;
      margin: 0 auto 34px;
    }

    .how_list {
      flex-direction: column;
      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        &:not(:last-child){
          margin-bottom: 41px;
        }
        .item_img {
          margin-bottom: 0px;
        }

        .item_text {
          font-size: 18px;
          max-width: 166px;
          text-align: left;
          margin-left: 2%;
        }
      }
    }
  }
}