.promo {
  background: $primary1;
  overflow: hidden;

  .promo_header {
    padding-top: 29px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
  }

  .promo_item {
    display: flex;
    align-items: center;
    padding-bottom: 80px;

    .item_img {
      min-width: 43%;
      width: 43%;
      padding-bottom: 43%;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      position: relative;

      img {
        max-width: 100%;
      }

      .item_comment1 {
        background: url("https://cdnparftop.parfums.ua/public/upload/newAdminUpload/Landing/delivery/img/comments/type1.svg") center top no-repeat;
        background-size: cover;
        width: 185px;
        height: 99px;
        position: absolute;
        bottom: 64%;
        right: 61%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          //font-family: $font-main;
          font-size: 20px;
          color: $white;
          max-width: 134px;
          text-align: center;
        }
      }

      .item_comment2 {
        background: url("https://cdnparftop.parfums.ua/public/upload/newAdminUpload/Landing/delivery/img/comments/type2.svg") center top no-repeat;
        background-size: cover;
        width: 125px;
        height: 80px;
        position: absolute;
        bottom: 64%;
        left: 72%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
         // font-family: $font-main;
          font-size: 20px;
          color: $commentColor;
        }
      }

      .item_comment3 {
        background: url("https://cdnparftop.parfums.ua/public/upload/newAdminUpload/Landing/delivery/img/comments/type3.svg") center top no-repeat;
        background-size: cover;
        width: 185px;
        height: 99px;
        position: absolute;
        bottom: 90%;
        left: 72%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        span {
          //font-family: $font-main;
          font-size: 20px;
          color: $white;
          text-align: center;
        }
      }

      .item_comment31 {
        display: none;
      }

      .item_img_pigeon {
        position: absolute;
      }

      .item_img_pigeon1 {
        position: absolute;
        bottom: 0;
      }

      .item_img_pigeon2 {
        position: absolute;
        bottom: 0;
        right: -10px;
      }
    }

    .item_text {
      display: flex;
      align-items: center;

      &.item_text_left {
        padding-right: 5.5%; //88
      }

      &.item_text_right {
        padding-left: 5.5%;
      }

      span {
        display: block;
        max-width: 495px;
        //font-family: $font-main;
        font-size: 47px;
        line-height: 120%;
        color: $white;

      }
    }
  }

  .promo_footer {
    .promo_footer_title {
      //font-family: $font-main-bold;
      font-size: 47px;
      line-height: 120%;
      text-align: center;
      color: $textColor1;
      margin-top: 33px;
      margin-bottom: 12px;
    }

    .promo_footer_item {
      display: flex;

      .item_img {
        position: relative;
        min-width: 43%;
        width: 43%;
        padding-bottom: 43%;

        img {
          max-width: 100%;
          max-height: 100%;
        }

        .item_comment4 {
          background: url("https://cdnparftop.parfums.ua/public/upload/newAdminUpload/Landing/delivery/img/comments/type3.svg") center top no-repeat;
          background-size: cover;
          width: 185px;
          height: 99px;
          position: absolute;
          left: 80%;
          bottom: 77%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;

          span {
           // font-family: $font-main;
            font-size: 20px;
            color: $white;
            text-align: center;
            max-width: 140px;
          }
        }

        .item_comment41 {
          display: none;
        }

        .item_img_pigeon {
          position: absolute;
          height: 100%;
          z-index: 1;
        }

        .item_img_box {
          position: absolute;
          bottom: 0;
          right: -95px;
          z-index: 0;
        }
      }

      .item_text {
        display: flex;
        align-items: center;

        .item_link{
          font-size: 47px;
          line-height: 120%;
          color: $white;
          text-decoration: none;
          &:hover{
            color:#FFF200;
          }
        }

        span {
          display: block;
          max-width: 495px;
          //font-family: $font-main;
          font-size: 47px;
          line-height: 120%;
          color: $white;

        }
      }
    }
  }
}

@media only screen and (min-width: 1601px) {

}

@media only screen and (max-width: 1439px) {
}

@media only screen and (max-width: 1279px) {
  .promo {
    .promo_item {

      .item_text span {
        font-size: 36px;
      }
    }

    .promo_footer {
      .promo_footer_item {

        .item_link{
          font-size: 36px;
        }
        .item_text span {
          font-size: 36px;
        }

        .item_img {
          .item_img_box {
            img {
              max-width: 231px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .promo {
    .promo_header {
      padding-top: 36px;
      padding-bottom: 18px;

      img {
        max-width: 111px;
      }
    }

    .promo_item {
      .item_img {
        .item_comment1 {
          width: 149px;
          height: 80px;
          bottom: 70%;
          right: 56%;
          z-index: 1;
        }

        .item_comment2 {
          width: 118px;
          height: 80px;
          bottom: 70%;
          left: 70%;
          z-index: 1;
        }

        .item_comment3 {
          width: 150px;
          height: 80px;
          bottom: 92%;

          span {
            max-width: 116px;
          }
        }

        .item_img_pigeon {
        }

        .item_img_pigeon1 {

        }

        .item_img_pigeon2 {

        }
      }

      .item_text {
        span {
          font-size: 36px;
        }
      }
    }

    .promo_footer {
      .promo_footer_title {
        font-size: 36px;
      }

      .promo_footer_item {
        align-items: flex-start;

        .item_img {
          position: relative;
          min-width: 43%;
          width: 43%;
          padding-bottom: 43%;

          img {
            max-width: 100%;
            max-height: 100%;
          }

          .item_comment4 {
            width: 150px;
            height: 80px;
            left: 75%;
            bottom: 70%;

            span {
             // font-family: $font-main;
              font-size: 20px;
              color: $white;
              text-align: center;
              max-width: 140px;
            }
          }

          .item_img_pigeon {
            position: absolute;
            height: 100%;
            z-index: 1;
          }

          .item_img_box {
            position: absolute;
            bottom: 0;
            right: -95px;
            z-index: 0;
          }
        }

        .item_text {
          .item_link, span {
            font-size: 36px;
            letter-spacing: -2px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .promo {
    .promo_header {
      padding-top: 16px;
      padding-bottom: 87px;

      img {
        max-width: 100px;
      }
    }

    .promo_item {
      flex-direction: column;

      &:nth-child(3) {
        padding: 0;
      }

      .item_img {
        min-width: 100%;
        width: 100%;
        padding-bottom: 100%;
        order: 1;

        .item_comment1 {
          width: 135px;
          height: 72px;
          bottom: 70%;
          right: 56%;
        }

        .item_comment2 {
          width: 113px;
          height: 72px;
          bottom: 68%;
          left: 66%;
        }

        .item_comment3 {
          display: none;
        }

        .item_comment31 {
          background: url("https://cdnparftop.parfums.ua/public/upload/newAdminUpload/Landing/delivery/img/comments/type1.svg") center top no-repeat;
          background-size: cover;
          width: 135px;
          height: 72px;
          position: absolute;
          right: 50%;
          bottom: 60%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1;

          span {
            //font-family: $font-main;
            font-size: 14px;
            color: $white;
            text-align: center;
          }
        }

        .item_img_pigeon {
        }

        .item_img_pigeon3 {
          bottom: -35px;
        }

        .item_img_pigeon2 {

        }
      }

      .item_text {
        margin-bottom: 7px;

        &.item_text_left {
          padding-right: 0;
        }

        &.item_text_right {
          padding-left: 0;
        }

        span {
          letter-spacing: -2px;
          font-size: 30px;
        }
      }
    }

    .promo_footer {
      .promo_footer_title {
        font-size: 30px;
        margin-top: 48px;
        letter-spacing: -2px;
      }

      .promo_footer_item {
        flex-direction: column;

        .item_img {
          order: 1;
          position: relative;
          min-width: 100%;
          width: 100%;
          padding-bottom: 100%;

          .item_comment4 {
            display: none;
          }

          .item_comment41 {
            background: url("https://cdnparftop.parfums.ua/public/upload/newAdminUpload/Landing/delivery/img/comments/type1.svg") center top no-repeat;
            background-size: cover;
            width: 135px;
            height: 72px;
            position: absolute;
            bottom: 70%;
            right: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;

            span {
             // font-family: $font-main;
              font-size: 14px;
              color: $white;
              max-width: 120px;
              text-align: center;
            }
          }

          img {

          }

          .item_img_pigeon {
          }

          .item_img_box {
            right: -60px;
          }
        }

        .item_text {
          .item_link, span {
            font-size: 30px;
            letter-spacing: -1px;
          }
        }
      }
    }
  }
}