.shopping {
  padding: 40px 0;

  .shopping_title {
    font-family: $font-main-bold;
    font-size: 47px;
    line-height: 110%;
    text-align: center;
    color: $textColor2;
    margin-bottom: 72px;
  }

  .shopping_list {
    display: flex;
    flex-wrap: wrap;
    .item {
      flex-basis: 235px;
      .item_img {
        margin-bottom: 30px;
      }

      .item_text {
        font-family: $font-main;
        font-size: 20px;
        line-height: 120%;
        max-width: 232px;
        text-align: center;
        color: $textColor;
        span{
          font-weight: 800;
        }
      }
    }
  }
}