.banner {
  background: url("/assets/img/bg.jpg") center top no-repeat;
  background-size: cover;
  padding: 110px 12.5% 40px;

  .banner_top {
    .banner_logo_block {
      display: flex;
      align-items: flex-end;

      .banner_top_text1 {
        font-size: 55px;
        line-height: 71px;
        color: $white;
      }

      .banner_top_text2 {
        font-size: 55px;
        line-height: 71px;
        color: $white;
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
      }
    }

    .banner_top_marked {
      position: relative;
      font-size: 55px;
      line-height: 71px;
      color: $white;

      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 5px;
        left: -24px;
        background: #E91E77;
        transform: rotate(-3deg);
        width: 405px;
        height: 63px;
      }

      span {
        position: relative;
        z-index: 1;
      }
    }
  }

  .banner_bottom {
    .banner_bottom_text {
      margin-top: 80px;
      margin-bottom: 48px;
      font-size: 24px;
      line-height: 29px;
      color: $primary3;

      a {
        font-weight: bold;
        text-decoration: none;
        color: $primary3;
      }
    }

    .banner_list {
      display: flex;

      .banner_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 175px;

        &:not(:last-child) {
          margin-right: 1.8%;
        }

        .banner_item_text {
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: $white;
          margin-top: 15px;
        }
      }
    }
  }
}

//@media only screen and (max-width: 1024px) {
//  .banner {
//    .banner_header {
//      padding-top: 28px;
//      padding-bottom: 112px;
//
//      .banner_title {
//        margin: 0 auto 26px;
//      }
//
//      .banner_subtitle {
//
//        .title1 {
//          font-size: 30px;
//        }
//
//        .title2 {
//          font-size: 22px;
//        }
//      }
//    }
//
//    .limit {
//      max-width: 768px;
//      justify-content: flex-end;
//      margin: -100px auto 0;
//      padding: 0 20px;
//
//      .limit_img {
//        img {
//          max-height: 376px;
//        }
//
//        &:hover {
//          transform: none;
//        }
//      }
//
//      .limit_info {
//        .limit_text {
//          font-size: 24px;
//          max-width: 380px;
//          margin: 90px auto 25px;
//        }
//
//        .limit_info_inner {
//          padding: 25px 42px;
//
//          &:before {
//            width: 38px;
//            height: 38px;
//          }
//
//          &:after {
//            width: 38px;
//            height: 38px;
//          }
//        }
//
//        .limit_list {
//          font-size: 20px;
//
//          li {
//            &:before {
//              padding-right: 10px;
//              vertical-align: middle;
//            }
//          }
//
//        }
//
//        .limit_btn1 {
//          margin-top: 14px;
//          letter-spacing: -1px;
//        }
//
//        .limit_btn2 {
//          margin-top: 10px;
//        }
//
//        .limit_btn3 {
//          margin-top: 10px;
//          margin-bottom: 10px;
//        }
//      }
//    }
//
//    .banner_footer {
//      margin-top: 32px;
//    }
//
//  }
//}
//
//@media only screen and (max-width: 767px) {
//  .banner {
//
//    .banner_header {
//      background: url("https://cdnparftop.parfums.ua/public/upload/newAdminUpload/Landing/vichy89/img/bg_mount_mob.jpg") center center no-repeat;
//      padding-top: 31px;
//      padding-bottom: 144px;
//      box-sizing: border-box;
//
//      .banner_title {
//        margin: 0 auto 36px;
//        max-width: 288px;
//
//        .title1 {
//          font-size: 20px;
//          letter-spacing: -1px;
//        }
//
//        .title2 {
//          font-size: 20px;
//        }
//      }
//
//      .banner_subtitle {
//        padding: 7px 6px;
//        box-sizing: border-box;
//        border: 1px solid #FFFFFF;
//        display: inline-block;
//
//        .title1 {
//          font-size: 24px;
//        }
//
//        .title2 {
//          font-size: 27px;
//        }
//      }
//    }
//
//    .limit {
//      justify-content: center;
//      flex-direction: column;
//      padding: 0;
//      margin: 0 auto;
//
//      .limit_text_mob {
//        display: block;
//      }
//      .limit_img {
//        margin: 0 auto;
//        right: 0;
//
//        img {
//          max-width: 300px;
//        }
//      }
//
//      .limit_info {
//        max-width: 300px;
//        margin: 0 auto;
//        .limit_text {
//          display: none;
//        }
//
//        .limit_info_inner {
//          padding: 18px 15px 8px;
//
//          &:before {
//            width: 50px;
//            height: 50px;
//          }
//
//          &:after {
//            width: 50px;
//            height: 50px;
//          }
//        }
//
//        .limit_list {
//          font-size: 16px;
//
//          li {
//            &:before {
//              padding-right: 10px;
//              vertical-align: middle;
//            }
//          }
//
//        }
//
//        .limit_btn1 {
//          margin-top: 14px;
//          letter-spacing: 0;
//        }
//
//        .limit_btn2 {
//          margin-top: 10px;
//        }
//
//        .limit_btn3 {
//          margin-top: 10px;
//          margin-bottom: 10px;
//        }
//
//        .subtext {
//          text-align: left;
//        }
//      }
//    }
//
//  }
//  .banner_footer {
//    margin-bottom: 59px;
//  }
//}