.land_footer {
  background: linear-gradient(180deg, #FFFFFF 0%, #E9FFFE 100%);

  .footer_wrapper {
    .footer_content {
      height: 407px;
      position: relative;
      overflow: auto;
    }

    .footer_sale_btn {
      margin: 65px auto 0;
    }

    .img_block {
      position: absolute;
      bottom: 0;
      right: 0;

      .item_comment5 {
        background: url("https://cdnparftop.parfums.ua/public/upload/newAdminUpload/Landing/delivery/img/comments/type1.svg") center top no-repeat;
        background-size: cover;
        width: 185px;
        height: 99px;
        position: absolute;
        right: 92%;
        bottom: 30%;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
         // font-family: $font-main;
          font-size: 20px;
          color: $white;
          max-width: 160px;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .land_footer {

    .footer_wrapper {
      .footer_content {
        height: 280px;
      }

      .footer_sale_btn {
        margin: 28px auto 0;
      }

      .img_block {
        .item_comment5 {
          width: 135px;
          height: 72px;
          right: 80%;
          bottom: 30%;
          span{
            font-size: 14px;
            max-width: 110px;
          }
        }
        img {
         max-width: 175px;
        }
      }
    }
  }
}